/** Colores de la app
===============================================*/
$base-color: yellow;
$second-color:red;
$black-color: black;
$grey-color: #cdcdcd;
$grey-color-darker:#b1b1b1;
$white-color: white;

/*===============================================*/
$max-app-width:768px;


/** Fuentes
===============================================*/
$font-family:'Barlow', sans-serif;
$font-size:16px;

/*===============================================*/


/** Media queries
===============================================*/
$device-sm: 576px;
$device-md: 768px;
$device-lg: 992px;
$device-xl: 1200px;
/*===============================================*/
